{
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "all",
    "semi": false,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
